<!DOCTYPE html>
<html>
<head>
<title>Cadastro de clientes</title>
<meta charset= utf-8/>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
<h2>Cadastrar!! </h2>	

<form method="POST">

<input  placeholder="Nome..."  type="text" name="nome">
<input  placeholder="Sobrenome..."  type="text" name="sobrenome">
<input  placeholder="Empresa..."  type="text" name="empresa">
<input type="submit" name="enviar" onclick="alerta()"/>

</form>	
	
</body>

</html>
</body>