<!DOCTYPE html>
<html>
<head>
<title>Listagem</title>
<meta charset= utf-8/>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
<h2>Clientes cadastrados:</h2>	

<ul>

	<% lista.forEach(function(user) {	%>
	<li><%= user.nome %></li>
	<% })	%>

</ul>

	
	
</body>

</html>
</body>